@font-face {
    font-family: myfont1;
    src: url(/src/fonts/Valorant\ Font.ttf)
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: myfont1;
    background: rgb(213, 22, 215);
    background: linear-gradient(90deg, rgba(213, 22, 215, 1) 0%, rgba(12, 158, 179, 1) 50%, rgba(152, 234, 251, 1) 100%);
}

.top {
    z-index: 100;
    background: rgb(213, 22, 215);
    background: linear-gradient(90deg, rgba(213, 22, 215, 1) 0%, rgba(12, 158, 179, 1) 50%, rgba(152, 234, 251, 1) 100%);
    height: 40px;
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

.menu-button {
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 15px;
    text-decoration: none;
    transition: 100ms;
}

.menu-button-left {
    margin-left: 0px;
}

.menu-right {
    display: flex;
}

.menu-button-left:hover {
    color: rgb(239, 242, 244);
    background-color: #48c8e2;
    opacity: 50%;
    border-radius: 5px;
}

.menu-button-right:hover {
    color: aliceblue;
    background-color: #e446e6;
    opacity: 50%;
    border-radius: 5px;
}

.main-image {
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(72, 200, 226);
    background: linear-gradient(180deg, rgba(72, 200, 226, 1) 0%, rgba(12, 158, 179, 1) 50%, rgba(228, 70, 230, 1) 100%);
    box-shadow: inset 0 0 5px rgb(220, 127, 236);
}

::-webkit-scrollbar-thumb {
    background: rgb(104, 161, 247);
    border-color: antiquewhite;
}

.main-img {
    position: relative;
}

.agent4 {
    position: absolute;
    right: 20px;
    top: 40%;
    font-size: 60px;
    color: #680d69;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.second-page-img {
    position: inherit;
    width: 100%;
    height: auto;
}

.quote {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 30px;
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    font-size: 12px;
    width: 70%;
    height: auto;
    text-align: left;
}

.first-text {
    margin: 10px 10px;
}

.second-text {
    color: #023a39;
    margin: 10px 10px;
}

.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 20px;
}

.slideshow {
    width: 625px;
    margin: 0 auto;
    overflow: hidden;
    border: solid 1px white;
}

.slideshow-container {
    width: 2500px;
    font-size: 0;
    transition: 1s ease;
    height: 300px;
}

.slideshow-container:hover {
    animation-play-state: paused;
}

img {
    width: 625px;
    height: auto;
    display: inline-block;
    font-size: 16px;
}

.slide {
    animation: slide 24s ease-in-out infinite;
}
ol{
    color: #023a39;
    font-size: 12px;
    margin: 30px;
}
.text-box{
    display: flex;
    background-color: #e4aae4;
    width: 50vw;
    height: 30px;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}
.button{
    background-color: #e4aae4;
    height: 30px;
    width: 100px;
}
.contacts{
    display: inline-flex;
    margin: 30px;
    align-content: center;
}
.contacts-text{
    width: 50%;
}
.blablabla{
    color: #023a39;
    margin-top: 50px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgb(72,200,226);
    background: linear-gradient(90deg, rgba(72,200,226,1) 0%, rgba(12,158,179,1) 50%, rgba(228,70,230,1) 100%);
    flex-direction: rows;
}
@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    12.5% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-25%);
    }

    37.5% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    62.5% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-75%);
    }

    87.5% {
        transform: translateX(-75%);
    }

    99% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(0);
    }
}

.p {
    margin-top: 140px;
    text-align: center;
}